<%= render 'home/filter' %>
<table class="table">
  <thead>
    <tr>
      <th>序号</th>
      <th>类型</th>
      <th>姓名</th>
      <th>性别</th>
      <th>出生日期</th>
      <th>手机号码</th>
      <th>住址</th>
      <th>填表医生</th>
      <th>操作</th>
    </tr>
  </thead>
</table>
