<div class="row filter">
  <div class="col-md-12">
    <label class="checkbox-inline">
      <input type="checkbox" name="patient_type" value="copd">
      COPD
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" name="patient_type" value="asthma">
      哮喘
    </label>
    <%= link_to '新建患者', new_patient_path, class: "pull-right btn btn-primary" %>
  </div>
</div>
