<div class="row filter">
  <!-- <div class="col-md-2">
    <label class="checkbox-inline">
      <input type="checkbox" name="patient_type" value="copd">
      COPD
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" name="patient_type" value="asthma">
      哮喘
    </label>
  </div>
  <div class="col-md-4 form-inline">
    <input type="text" class="form-control input-sm" placeholder="输入患者姓名进行搜索">
    <button type="button" class="btn btn-primary btn-sm">搜索</button>
  </div> -->
  <div class="col-md-6">
    <p class="text-left">患者总数：<%= @patients.size %> 人</p>
  </div>
  <div class="col-md-6">
    <%# link_to "导出患者", '#', class: "btn btn-primary btn-sm pull-right export" if current_user.admin? %>
    <div class="dropdown pull-right">
      <button class="btn btn-primary btn-sm dropdown-toggle" id="new_patient" data-toggle="dropdown">
        新建患者
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="new_patient">
        <li role="presentation">
          <%= link_to 'COPD患者', new_patient_path('copd'), role: 'menuitem' %>
        </li>
        <li role="presentation">
          <%= link_to '哮喘患者', new_patient_path('asthma'), role: 'menuitem' %>
        </li>
      </ul>
    </div>
  </div>
</div>
