<div class="row filter">
  <!-- <div class="col-md-2">
    <label class="checkbox-inline">
      <input type="checkbox" name="patient_type" value="copd">
      COPD
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" name="patient_type" value="asthma">
      哮喘
    </label>
  </div>
  <div class="col-md-4 form-inline">
    <input type="text" class="form-control input-sm" placeholder="输入患者姓名进行搜索">
    <button type="button" class="btn btn-primary btn-sm">搜索</button>
  </div> -->
  <div class="col-md-12">
    <p class="pull-left">
      患者总数：<%= @patients.size %>
      人
    </p>
    <%= link_to "导出患者", export_path, class: "btn btn-primary btn-sm pull-right export" if current_user.admin? %>
    <%= link_to "新建患者", new_patient_path(controller.action_name), class: "btn btn-primary btn-sm pull-right" %>
  </div>
</div>
