<h2 class="text-center">新建《<%= @patient.patient_type == 'copd' ? ' COPD ' : '哮喘' %>患者登记卡》</h2>
<hr>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'form', patient: @patient %>
  </div>
</div>
