// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.patient-form {
  margin-bottom: 60px;

  fieldset.narrow {
    margin: 0 auto;
    width: 600px;
  }
}

.export {
  margin-left: 10px;
}
