.login-form {
  margin: 10px auto;
  text-align: center;
  width: 300px;

  .list-group-item {
    padding: 0;
  }
}

.form-control-clear {
  border-radius: 2px;
  border: none;
  box-shadow: none;
}
